[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ruff = "*"
requests = "*"
pandas = "*"
python-dotenv = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
joblib = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
